bs4
wget
textblob
regex
pip
git+https://github.com/HwaiTengTeoh/preprocess_text.git
git+https://github.com/HwaiTengTeoh/language_tool_python.git
contractions
pyemd
numpy
pandas
spacy
spacytextblob
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
nltk
emot
fuzzywuzzy
streamlit
streamlit-option-menu
pandas
torch
transformers
PIL
