bs4
wget
textblob
regex
pip
git+https://github.com/HwaiTengTeoh/preprocess_text.git
git+https://github.com/HwaiTengTeoh/language_tool_python.git
pyemd
numpy
pandas
spacy
nltk
emot
fuzzywuzzy
streamlit
pandas
torch
transformers
